.restaurant-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 12px;
  padding-top: 22px;
  padding-bottom: 18px;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link-item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #475569;
}

.thumbnail {
  width: 160px;
  height: 100px;
  border-radius: 8px;
  margin-right: 12px;
}

.restaurant-name {
  font: 'DM Sans';
  weight: 700;
  style: normal;
  font-size: 18px;
  color: #334155;
  margin-top: 0px;
}

@media screen and (max-width: 768px) {
  .restaurant-name {
    font-size: 16px;
  }
}

.cuisine-name {
  font: 'DM Sans';
  weight: 400;
  style: normal;
  size: 14px;
  color: #64748b;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .cuisine-name {
    font-size: 14px;
  }
}

.rating-review-count-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.star {
  width: 18px;
  height: 18px;
  color: #ffcc00;
  margin-left: 12px;
}

.rating {
  font-family: 'DM Sans';
  weight: 700;
  style: normal;
  size: 14px;
  color: #1e293b;
  padding-top: 16px;
  padding-left: 4px;
}

.total-reviews {
  font-family: 'DM Sans';
  weight: 400;
  style: normal;
  font-size: 14px;
  color: #64748b;
  padding-left: 5px;
  padding-top: 8px;
}

.card-content-container {
  width: 174px;
  height: 78px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
